name: CI

on: [push]

jobs:
  container:
    runs-on: ubuntu-latest
    name: Caching
    steps:
      - run: docker run --name sc2calendar-redis -p 6379:6379 -d redis
        
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '15'
      - run: npm install
      - run: node bin/www